{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <title>Upload Metadata</title>
    <link rel="stylesheet" href="{% static 'esg_css/upload_common.css' %}">
</head>
<body>
    <h2>Upload CSV for Metadata</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <select name="category" required>
            <option value="" disabled {% if not category %}selected{% endif %}>Select category</option>
            <option value="ESG" {% if category == "ESG" %}selected{% endif %}>ESG</option>
            <option value="Financial" {% if category == "Financial" %}selected{% endif %}>Financial</option>
        </select>

        <input type="text" name="company" value="{{ company|default_if_none:'' }}" required placeholder="Company">
        <input type="text" name="ticker" value="{{ ticker|default_if_none:'' }}" required placeholder="Ticker">
        <input type="file" name="csv_file" accept=".csv" required>
        {% if preview %}
            <h4>Попередній перегляд:</h4>
            <div>{{ preview|safe }}</div>
            <input type="hidden" name="confirm" value="1">
            <button type="submit">Accept and load</button>
        {% else %}
            <button type="submit">Preview</button>
        {% endif %}
    </form>
    {% if success %}
        <p class="success">✅ File has been loaded</p>
    {% elif error %}
        <p class="error">❌ Error: {{ error }}</p>
    {% endif %}
</body>
</html>