<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Stock Data</title>
    <link rel="stylesheet" href="{% static 'stocks_css/upload_stocks.css' %}">
</head>
<body>
    <h2>Upload Stock Data</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="ticker-input">Ticker:</label>
        <input type="text" id="ticker-input" name="ticker" required />

        <label for="date-from-input">Date from:</label>
        <input type="date" id="date-from-input" name="date_from" required />

        <label for="date-to-input">Date to:</label>
        <input type="date" id="date-to-input" name="date_to" required />

        <button type="submit" class="submit-btn">Upload</button>
    </form>
    {% if preview %}
    <h3>Data Preview</h3>
    <div>
        {{ preview|safe }}
    </div>
    {% endif %}

    {% if success %}
        <p class="success">✅ Data has been uploaded!</p>
    {% elif error %}
        <p class="error">❌ Error: {{ error }}</p>
    {% endif %}
</body>
</html>